body {
    background-color: #666666;
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;*/
    font-family: 'Open Sans Condensed';font-size: 22px;
}

si-glyph * {
    fill: red;
}

.row {
    margin: 0;
}

.container-fluid {
    padding: 0;
}

.logo {
    /*max-width: 45%;*/

    padding-left: 10px;
    padding-right: 10px;
}

.leftpart img {
    width: 150px;
}

.logo a :hover {
    cursor: pointer;
}

.menu img {
    height: 28px;
}

.menu svg {
    height: 28px;
}

.header {
    width: inherit;
    padding: 11px 12% 11px 12%;
    background-color: #666666;
    position: fixed;
    top: 0;
    z-index: 10;
}

.container {
    width: 100%;
    background-color: white;
    margin: 0 12.5% 0 12.5%;
    max-width: 75%;
    padding: 0;

}

.firstpart {
    position: absolute;
    top: 50px;
}

.firstpart img {
    width: 100%;
}

.secondpart {
    /*width: 75%;*/
    /*width: 76%;*/
    position: relative;
    padding-top: 34%;
    z-index: 5;
    /*margin: 0 12% 0 12%;*/
    padding-bottom: 20px;
}

.info {
    margin: 0 24% 0 24%;
}

.k {
    width: 100%;
    margin-bottom: 8%;
    font-stretch: condensed;
    font-weight: bold;
    font-size: 20px;
}

.ktext {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

}

.ktext1 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

}

.i2 {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.i3 {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

.i4 {
    -webkit-transform: scaleX(-1) scaleY(-1);
    transform: scaleX(-1) scaleY(-1);

}

.center {
    position: relative;
    text-align: center;
}

.smallpadding {
    padding: 0 9px 0 9px;
}

.curvy {

    width: inherit;
    /*background-image: url("../img/KrivinicaG.png");*/
    /*height: 400px;*/
    margin: 1% 0 0 0;
    position: relative;

}

.curvy h1 {
    color: #000;
    /*padding: 20px;*/
    text-align: center;
    position: relative;
    /*bottom :30%;*/
    left: 50%;
    transform: translate(-50%, -150%);
    font-stretch: condensed;
    font-weight: bold;
}

.manual {
    margin: 30px 12% 30px 12%;
    /*height: 400px;*/
    border-radius: 25px;
    background-color: #fff9dd;
    position: relative;
}

.manual h1 {
    color: #ffee90;
    top: 50%;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    font-stretch: condensed;
    font-weight: bold;
}

.slide {
    width: 52%;
    margin: 10% 24% 10% 24%;
}

.video {

}

.lastpart {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.lastpart img {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.details {
    border-radius: 25px;
    background-color: #fff9dd;
    padding: 20px;
    width: 76%;
    margin: 30px 12% 30px 12%;
}

.details h3, h4, h5 {
    color: #99cc99;
    font-stretch: condensed;
    font-weight: bold;
}

.contact {
    padding-top: 3%;
    padding-bottom: 3%;
    width: 76%;
    margin: 30px 12% 30px 12%;
    border-radius: 25px;
    background-color: #666666;
    opacity: 0.8;
}

.contact textarea {
    border-radius: 15px;
    width: 100%;
    color: #99CC99;
    background-color: #FFF9DD;
    margin-bottom: 5%;
}

.contact input {
    border-radius: 15px;
    color: #99CC99;
    background-color: #FFF9DD;
    margin: 5px;
}

.contact button {
    border-radius: 15px;
    /*color: #99CC99;*/
    background-color: #FFF9DD;
    width: 100%;
    font-weight: bold;
    margin: 5px;
}

.formdata {
    padding: 10px 20px;
}



.comment {
    width: 76%;
    margin: 0 12% 0 12%;
    z-index: 10;
}

.comment h1 {
    color: #666666;
    font-stretch: condensed;
    font-weight: bold;
}

.footer {
    height: 70px;
    background-color: #666666;
    position: relative;
    padding: 11px 12% 11px 12%;
}

.footerBackgroundImg {
    position: absolute;
    bottom: calc(-100% + 139px);
    width: 100%;
    left: 0;
    z-index: 4;
}

.footerLeftPart {
    padding-left: 20px;
    padding-right: 20px;
}

.footerLeftPart h5, h6 {
    grid-row-start: 2;
    color: #FFCC00;
}

.footerLeftPart img {
    height: 20px;
    grid-row-start: 1;
}


.footerRightPart {
    padding-left: 20px;
    padding-right: 20px;
}

.footerRightPart img {
    height: 20px;
    grid-row-start: 1;
}

.firstrow {
    grid-row-start: 1;
}

.secondrow {
    grid-row-start: 2;
}

.footerRightPart a {
    color: inherit ;
}

@media (max-width: 1200px) {
    .secondpart {
        padding-top: 310px;
    }
}

@media (max-width: 992px) {
    .secondpart {
        padding-top: 40%;
    }
}

@media (max-width: 768px) {
    .secondpart {
        padding-top: 250px;
    }

    .curvy {
        margin-top: 10%;
    }

    .slide {
        margin-left: 2%;
        margin-right: 2%;
        width: 96%;
    }
}

@media (max-width: 576px) {
    .secondpart {
        padding-top: 200px;
    }

    .leftpart img {
        width: 120px;
    }

    .container {
        margin: 0;
        max-width: 100%;

    }

}


.success {
    padding: 1em;
    margin-bottom: 0.75rem;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #468847;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 25px;
}

.error {
    padding: 1em;
    margin-bottom: 0.75rem;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #b94a48;
    background-color: #f2dede;
    border: 1px solid rgba(185, 74, 72, 0.3);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 25px;
}

body.wait *, body.wait
{
    cursor: no-drop !important;
}